@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/**********************
	* Developer : corner
 	* APP SCSS : Variables Setup
 **********************/

$theme-bg1: #9074FF;
$theme-bg2: #FFB9D1;

$theme-font: 'Poor Story', cursive;

$title-size: 36px;
$h1-size: 24px;
$h2-size: 20px;
$h3-size: 16px;
$h4-size: 14px;
$h5-size: 12px;
$h6-size: 10px;

$default-size: 14px;

/**********************
	* Developer : corner
 	* APP SCSS : app style -
 **********************/

body, html, strong, a, span {
	font-family: $theme-font;
	font-size: $default-size;
}

.App {
	width: 100%;
	height: 100vh;
	font-family: $theme-font;
	font-size: $default-size;
	margin: 0 auto;
	background: linear-gradient($theme-bg1, $theme-bg2);
}
#header {
	border-bottom: 1px solid #e5e5e5;
}
.header {
	width: 1260px;
	height: 60px;
	margin: 0 auto;
}




/**************************
	* Developer : corner
 	* Description : Intro -
***************************/

.intro {
	height: calc(100vh - 64px);
}
.dark-bg {
	background-color: #00000050;
}

/* Global */
.line-1{
	width: 13em;
	margin: 0 auto;
	border-right: 2px solid rgba(255,255,255,.75);
	font-size: 180%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

/* Animation */
.anim-typewriter{
	animation: typewriter 4s steps(44) 1s 1 normal both,
	blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
	from{width: 0;}
	to{width: 13em;}
}
@keyframes blinkTextCursor{
	from{border-right-color: rgba(255,255,255,.75);}
	to{border-right-color: transparent;}
}

.title {
	font-family: $theme-font;
	font-size: $title-size;
	color: #fff;
	text-align: center;
}
