@font-face { /* 나눔 바른펜 폰트 적용 */
	font-family: "Nanum Barunpen";
	src: url("../fonts/NanumBarunpenB.ttf") format("truetype");
	font-weight: normal;
} /* 이후 "Nanu Barunpen"으로 폰트 적용 가능 */

@font-face { /* 신혼부부 폰트 적용 */
	font-family: "Sinhonbubu";
	src: url("../fonts/sinhonbubu.ttf") format("truetype");
	font-weight: normal;
} /* 이후 "Sinhonbubu"으로 폰트 적용 가능 */

