@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (max-width: 575px) {
	.intro_btn_wrap {
		display: block !important;
		button {
			margin: 40px auto;
			display: block !important;
		}
	}
}

@media (max-width: 820px) {
	.auth_wrap {
		width: calc(100% - 40px);
		padding: 20px 16px;
		.register_box {
			width: 100%;
			&:after {
				left: 30%;
				width: 75px;
				height: 75px;
				top: -20px;
				background-image: unset;
			}
		}
		.register_form {
		}
	}
}
